.navButton{
	background: #e9c46a;
	width: 20%;
	height: 100%;
	border-color: #e9c46a;
	font-weight: bold;
}

.navButton:hover{
	background: #e76f51;
}

.largeArticleButton{
	background: #e9c46a;
	border-color: #e9c46a; 
	width: 50%;
	height: 30%;
	font-weight: bold;
	font-size: inherit;
}

.largeArticleButton:hover{
	background: #e76f51;
}

.fakeLink:visted{
	color: black;
	border-color: black;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

article{
	display: flex;
	background: #264653;
	position: fixed;
	left: 0;
	top: 20%;
	height: 70%;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
}
header,footer{
	background: #2a9d8f;
	width: 100%;
}

body{
	background: #264653;
	width: 100%;
	height: 100%;
}

header{
	position: fixed;
	display: flex;
	left: 0;
	top: 0;
	height: 15%;
	width: 100%;  
	justify-content: center;
	align-items: center;
	font-size: 200%;
}	

nav{
	position: fixed;
	left: 0;
	top: 15%;
	width: 100%;
	height: 5%;
	background: #e9c46a;
	display: flex;
	align-items: center;
}


footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}	


/*Resets all of the spacing for all elements*/
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}