<!doctype html>

{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Drug Dealer</title>
  <meta name="description" content="Sample homepage for the drug dealer game">
  <meta name="author" content="Trevor Bisson">

  <link rel="stylesheet" type="text/css" href="{% static 'css/DrugDealerHomePage.css' %}">

</head>

<header>
<h1><a class="fakeLink" href="{% url 'drugdealergame' %}"> Drug Dealer</a></h1>
</header>

<nav>
	<button class="navButton fakeLink" href=""> Join Game</button>
	<button class="navButton fakeLink" href=""> Create Game</button>
	<button class="navButton">
    	<a class="" href="{% url 'rules' %}"> Rules </button>
	<button class="navButton">
		<a href="{% url 'aboutgame' %}"> Learn About Us </a>
	</button>
	<button class="navButton" href=""> Other Games</button>
</nav>

<article>
		<h1>About the Devs!</h1>
		<h3>Trevor Bisson</h3>
			<p>Trevor has the biggest head in the Liberty Leagues</p>
		<h3>Daniel Dukeshire</h3>
			<p>Daniel Dukeshire is a direct descendent of King Arthur from the round table</p>
		<h3>Tommaso Valagussa</h3>
			<p>aka Spaceman</p>
		<h3>Martin Durkin</h3>
			<p>Likes to play COD</p>

</article>

</html>
